// Carousel {
//   height: 50%;
// }
.carousel_container {
  background-color: #000;
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
  .img_container {
    > img {
      height: 75vh;
      width: 80%;
      object-fit: cover;
      border: 1px solid white;
    }
  }
  .details {
    display: grid;
    place-items: center;
    > .aboutProduct {
      display: grid;
      > h1 {
        color: aqua;
        text-align: left;
        text-transform: capitalize;
        font-size: 3.5rem;
        font-weight: 400;
      }
      > p {
        text-align: left;
        color: aqua;
        font-size: 1.8rem;
        font-weight: 300;
      }
      > .priceContainer {
        text-align: left;
        color: lightgoldenrodyellow;
        margin: 0.7rem 0 1.3rem 0;
        font-size: 1.4rem;
        font-weight: 300;
        > span {
          color: lightgoldenrodyellow;
          margin-left: 0.7rem;
          font-size: 2rem;
        }
      }
      > .btnContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // column-gap: 1rem;
        place-items: end;
        > button {
          font-size: 2rem;
          font-weight: 400;
          margin-right: 1rem;
          padding: 0.5rem;
          border-radius: 15px;
          background-color: aqua;
          //   color: lightgoldenrodyellow;
          &:hover {
            cursor: pointer;
          }
          &:active {
            filter: invert(1);
          }
        }
      }
    }
  }
}
